{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="col-md-12">
        <h1>Consumption</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">RE-Calculate consumption</button>
            </div>
        </form>
        <article class="media content-section">
            <div class="media-body">
                <h4>Current consumption </h4>
                <p>
                    Posledni takovani probehlo {{ date }} celkovy najezd byl {{ total_km }} km a aktualni spotreba byla
                    {{ curent_consuption }} L/100Km
                </p>
            </div>
        </article>
    </div>
    <div class="col-md-12">
        <div id="temps_graf" class="temps_graf">   
            <article class="media content-section">
                <div class="media-body">
                    <canvas id="myChart"></canvas>   
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>    
                    <script src="{% static 'scripts/consuptionGraf.js' %}"></script>
                </div>
            </article> 
        </div>
    </div>

{% endblock %}