{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-12">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Check events</button>
        </div>
    </form>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Evnets_list" aria-expanded="false" aria-controls="Gallery_list">
    Show Events history
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Gallery_list" aria-expanded="false" aria-controls="Gallery_list">
    Show Gallery history
</button>

<div class="col-md-12">
    <div class="collapse" id="Evnets_list">
        <div class="card card-body">
            {% for event in events %}
            <ul class="list-group">
                <li>{{ event.Date }} {{ event.Event }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="collapse" id="Gallery_list">
        <div class="content-section">
            <div class="card card-body">
                <ul class="list-group">
                {% for item in gallery %}
                    <li>{{item.Date}} {{ item.Gallery }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}