{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-12">
    <h1>Weater info</h1>
</div>
<div class="col-md-12">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Check forcast now</button>
        </div>
    </form>
</div>
<div class="col-md-4">

    <article class="media content-section">
        <div class="media-body">
            <h4>Forecast for today</h4>
            {% for item in temp %}
            <p>
                {{item.date}} {{item.weather_today}}°C
            </p>
            {% endfor %}
        </div>
    </article>
</div>
<div class="col-md-4">
    <article class="media content-section">
        <div class="media-body">
            <h4>Forecast for tomorrow</h4>
            {% for item in temp %}
            <p>
                {{item.date}} {{item.weather_today}}°C
            </p>
            {% endfor %}
        </div>
    </article>
</div>
<div class="col-md-4">
    <article class="media content-section">
        <div class="media-body">
            <h4>Aktualni kvalita ovzdusi</h4>
            <p>Aktualni kvalita ovzdusi v Ostrave Porube je {{ polution }}, {{ polution_index }} z 6</p>
            <small class="text-muted">Posledni kontrola kvlaity probehla {{ pollution_date }}</small>
        </div>
    </article>
</div>
<div class="col-md-12">
    <div class="media content-section">
        <div class="media-body">
            <img src="http://portal.chmi.cz/files/portal/docs/poboc/OS/KW/Captor/tmp/DMULTI-O1PORU01.gif" width="85%" height="85%">
        </div>
    </div>
</div>
{% endblock %}